<footer id="footer">
  <div class="container">
    <p class="pull-left">&copy; Daniel Salazar <!--&middot;
      <a href="#">Privacy</a> &middot; <a href="#">Terms</a> -->
    </p>

    <div class="genericon-footer">
      <div class="social-icons">
        <a href="https://github.com/dhsalazar" alt="f200" class="genericon genericon-github hidden-xs"></a>
      </div>

      <div class="social-icons">
        <a href="https://www.linkedin.com/pub/daniel-salazar/97/25b/847"
           alt="f207" class="genericon genericon-linkedin hidden-xs"></a>
      </div>
    </div>


  </div>
</footer>
